extends base.pug 

block content 
    if errorMessage 
        span=errorMessage  
    form(method="POST", enctype="multipart/form-data")
        lable(for="video") Video File 
        input(type="file",accept="video/*",required, id="video", name="video")
        input(type="text", placeholder="Title", required, name="title", maxLength=80)
        input(type="text", placeholder="Descriptiom", required, name="description",minLength=20)
        input(type="text", placeholder="Hashtags, separated by comma.", required, name="hashtags")
        input(type="submit" value="Upload Video")